
<template> 
<!--atrr ref , propio de vue para controlarlo con this.$refs-->
  <div ref="box" class="box"></div>
</template>

<script>
import { TimelineLite, Back } from 'gsap'

export default {
    //cuando el componente ya esta montado , llama a la función v
    mounted(){
        const { box } = this.$refs;
        const timeline = new TimelineLite()
        //tres args =   elemento, seg de animacion, un objeto q describa q animacion va hacer
        timeline.to(box,1 , {
            x:200, 
            rotation:90,
            ease: Back.easeInOut
            })
        timeline.to(
            box, 0.5,{
            background: 'green'
            },
            //la animacion correra, en un tiempo relativo basado en la animacion anterior
            '-=0.5'
            )    
    }
}
</script>

<style> 
.box { 
  height: 60px; 
  width: 60px; 
  background: red;
}
</style>
