<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <RedBox />
    <SlackBuble />
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue';
import RedBox from './components/RedBox.vue';
import SlackBuble from './components/SlackBuble.vue';

export default {
  name: 'app',
  components: {
    HelloWorld,
    RedBox,
    SlackBuble
  },
};
</script>

<style>
#app {
  background-color: black;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
